:80, :443, api.drifterz13.com, www.api.drifterz13.com {
  reverse_proxy api:8000
}

:3000, grafana.drifterz13.com, www.grafana.drifterz13.com {
  reverse_proxy 207.148.65.139:3000 
}

:9090, prom.drifterz13.com, www.prom.drifterz13.com {
  reverse_proxy 207.148.65.139:9090
}
